#ifndef LAYER_LAYERS_INCLUDED
#define LAYER_LAYERS_INCLUDED

ZMK_LAYER(layers,
		&trans  &trans    &trans    &trans    &trans		&trans &trans &trans &trans &trans 
		&trans  &tog SYM    &tog NUM    &tog NAV    &tog MOUSE 		&tog BOOTLOADER &tog FUNCTION &tog MEDIA &trans &trans 
		&trans  &trans    &trans    &trans    &trans 		&trans &trans &trans &trans &trans
					    &trans  &trans           &trans &trans 
)
#endif
