#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "../zmk-nodefree-config/helper.h"

#include "settings.dtsi"
#include "layer-defs.dtsi"
#include "keys.dtsi"
#include "combos.dtsi"
#include "tap-dances.dtsi"
#include "hold-taps.dtsi"
#include "macros.dtsi"

#include "layers.dtsi"
