#ifndef HOLD_TAPS_INCLUDED
#define HOLD_TAPS_INCLUDED
/* Hold-taps */

/* Homerow mods */

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS) \
    ZMK_BEHAVIOR(NAME, hold_tap, \
        flavor = "tap-preferred"; \
        tapping-term-ms = <150>; \
        quick-tap-ms = <QUICK_TAP_MS>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <TRIGGER_POS>; \
    )

MAKE_HRM(hml, &kp, &kp, KEYS_R THUMBS)
MAKE_HRM(hmr, &kp, &kp, KEYS_L THUMBS)

ZMK_BEHAVIOR(lth, hold_tap, \
      flavor = "balanced"; \
      tapping-term-ms = <150>; \
      bindings = <&mo>, <&tab_layer>; \
)

ZMK_BEHAVIOR(layer_ht, hold_tap, \
      flavor = "balanced"; \
      tapping-term-ms = <150>; \
      bindings = <&mo>, <&tog>; \
)
#endif
