#define BASE 0
#define COLEMAK 1
#define LAYERS 2
#define NUM 3
#define SYM 4
#define MEDIA 5
#define NAV 6
#define MOUSE 7
#define MOUSE_SCROLL 8
#define FUNCTION 9
#define BOOTLOADER 10

#define ALL_NO_BASE LAYERS NUM SYM MEDIA NAV MOUSE MOUSE_SCROLL FUNCTION BOOTLOADER
